<!DOCTYPE html>
<!-- タイムリーフ読み込み -->
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- タイムリーフ読み込み終了 -->
<head>
  <meta charset="UTF-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
  <!-- css -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" 
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"></link>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"></link>
  <link rel="stylesheet" href="./mercari.css"></link>
  <!-- /css -->
  <title>Rakus Items</title>
</head>
<body>
  <!-- header -->
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Rakus Items</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <div>
        <ul class="nav navbar-nav navbar-right">
          <li><a id="logout" href="/logout">Logout&nbsp;<i class="fa fa-power-off"></i></a></li>
        </ul>
        <p class="navbar-text navbar-right">
          user: <span sec:authentication="name"></span>
        </p>
      </div>
    </div>
  </nav>

  <!-- details -->
  <div class="container">
    <a type="button" class="btn btn-default" href="/"><i class="fa fa-reply"></i> back</a>
    <h2>Details</h2>
    <div id="details">
      <table class="table table-hover">
        <tbody>
          <tr>
            <th>ID</th>
            <td><span th:text="${itemList.id}"></span></td>
          </tr>
          <tr>
            <th>name</th>
            <td><span th:text="${itemList.name}"></span></td>
          </tr>
          <tr>
            <th>price</th>
            <td><span th:text="${itemList.price}"></span></td>
          </tr>
          <tr>
            <th>category</th>
            <!-- <td><a href="#">Electronics / Computers</a> &amp; <a href="#">Tablets / Components</a> &amp; <a href="#">Parts</a></td> -->
            <td><span th:text="${itemList.category}"></span></td>
          </tr>
          <tr>
            <th>brand</th>
            <!-- <td><a href="#">Razer</a></td> -->
            <td><span th:text="${itemList.brand}"></span></td>
          </tr>
          <tr>
            <th>condition</th>
            <td><span th:text="${itemList.condition}"></span></td>
          </tr>
          <tr>
            <th>description</th>
            <td><span th:text="${itemList.description}"></span></td>
          </tr>
        </tbody>
      </table>
      <!-- <a type="button" class="btn btn-default" href="/editItem"><i class="fa fa-pencil-square-o"></i>&nbsp;edit</a>-->
      <a type="button" class="btn btn-default" th:href="@{/editItem(id=${itemList.id})}"><i class="fa fa-pencil-square-o"></i>&nbsp;edit</a>
    </div>
  </div>

<!-- script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
  integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="./original.js"></script>
<!-- script -->
</body>
</html>